.title-tag {
    width: 250px;
    height: 75%;
    background-color: var(--clr-black-1);
}

.tag-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 50px 20px 20px 20px;
}

.tag-container h2 {
    color: var(--clr-white);
    font-size: 3rem;
    font-weight: 400;
    width: 100%;
    padding-bottom: 20px;
}

.card-button {
    color: var(--clr-grey-1);
    background-color: var(--clr-black-1);
    outline: 3px solid var(--clr-grey-1);

    font-size: 1.7rem;
    font-weight: 400;

    margin: 0 auto;
}

.card-button:hover {
    color: var(--clr-grey-2);
    outline: 3px solid var(--clr-grey-2);
    opacity: 0.8;
}

.round-card .tag-container {
    justify-content: start;
}

.round-card button {
    display: none;
}