.competition-card, .season-card, .round-card {
    width: 800px;
    height: 450px;

    position: relative;
}

.title-tag {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 75%;
    width: 100%;
    background-color: var(--clr-black-1);
}

.tag-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 250px;
    height: 100%;
    padding: 50px 20px 20px 20px;
}

.card-display {
    position: absolute;
    right: 0;
    height: 100%;
    width: 550px;
    background-color: var(--clr-white);
    box-shadow: 4px 4px 20px -5px var(--clr-grey-1);
    
}

.tag-container h2 {
    color: var(--clr-white);
    font-size: 3rem;
    font-weight: 400;
    width: 100%;
    padding-bottom: 20px;
}

.competition-link-button,
.season-expand-button {
    color: var(--clr-grey-1);
    background-color: var(--clr-black-1);
    outline: 3px solid var(--clr-grey-1);

    font-size: 1.7rem;
    font-weight: 400;

    margin: 0 auto;
}

.competition-link-button:hover,
.season-expand-button:hover {
    color: var(--clr-grey-2);
    outline: 3px solid var(--clr-grey-2);
    opacity: 0.8;
}