.app-register {
    height: 100%;
    width: calc(100vw + 7vw);
    position: absolute;
    left: -7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(207, 216, 220, 0.75);
}

.register-aside {
    position: absolute;
    width: 11rem;
    margin: 7rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.register-container {
    overflow: hidden;
    height: 24rem;
    width: 24rem;
    background-color: var(--clr-black-1);
}

.register-aside-text {
    color: var(--clr-white);
}
.register-aside-title {
    font-size: 3rem;
}

.register-button {
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 5px;
    color: var(--clr-white);
    font-weight: 500;
}

.register-redirect-button {
    margin: auto;
    background-color: var(--clr-grey-1);
}

.register-close-button {
    text-align: right;
}

.register-form {
    height: 20rem;
    width: 30rem;
    padding: 1rem;
    position: absolute;
    transform: translate(45%, 2rem);
    display: grid;
    gap: 1rem;
    background-color: var(--clr-white);
}

.register-submit-button {
    margin: 0 auto 1rem;
    background-color: var(--clr-pink);
}

.register-form-input {
    height: 3rem;
    background-color: var(--clr-grey-2);
    border: none;
}
