.select-round-dropdown {
    background-color: var(--clr-grey-1);
    color: var(--clr-black-1);
    font-size: 1.7rem;
    font-weight: 400;
    outline: none;
    margin: 35px 0;
    padding: 20px 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

